.git
.github
.vscode
.idea

.env
.env.*
!.env.example

*.zip
*.tar
*.tar.gz
*.sql
*.bak

node_modules
clinica/node_modules

storage/*
!storage/.gitkeep

temp/*
!temp/.env.example

api/cron/logs/*

app/assets/img/fotos/*
!app/assets/img/fotos/padrao.jfif
!app/assets/img/fotos/padrao.jpg
!app/assets/img/fotos/padrao.png

app/storage/*
app/assinatura/assinados/*

zz_Suporte
backup-versao-*
banco
get

.codex_root_page.html
