/.env
/.claude/*
/*.zip
/*.MD
temp/*
!temp/*.php
!temp/*.log
!temp/.env.example
!/app/assets/img/fotos/*
!/app/assets/img/fotos/padrao.jfif
!/app/assets/img/fotos/padrao.jpg
app/storage/assinatura/assinados/*
zz_Suporte/
/.vscode/
/backup-versao-1.93/
/banco/
/clinica/zz_Suporte/
/get/
/api/cron/logs/
!/storage/
/tools/
!vendor/
/.codex_root_page.html
/.editorconfig
!temp/FAQ.MD
