temp/*
!temp/*.php
!temp/.env.example
!Suporte/
.vscode/
backup-versao-1.93/
banco/
clinica/!Suporte/
get/
storage/
tools/
vendor/
.codex_root_page.html
.editorconfig
Dockerfile
docker-compose.yml
.dockerignore